//
// Styles
//

// Import Custom Variables
@import "variables_custom.scss";
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "functions.scss";

// Import Custom SCSS
@import "global.scss";

@import "utilities.scss";

// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";


// Navigation
@import "dropdowns.scss";
@import "navs.scss";

//@import "navigation/nav.scss";
//@import "navigation/topnav.scss";
//@import "navigation/sidenav/sidenav.scss";
//@import "navigation/sidenav/sidenav-dark.scss";
//@import "navigation/sidenav/sidenav-light.scss";
@import "fallback.scss";
@import "app_overrides";
